.player{
  background-color: black;
  max-width: 800px;
  height: 600px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.5);
  font-size: x-large;
  display: flex;
  flex-direction: column;
}
.video-container{
  flex-grow: 1;
}
.player-control-panel{
  padding: 5px;
  display: flex;
  justify-content: flex-start;
}
.player-button{
  color: white;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  font-size: inherit;
  width: 40px;
}
.player-progress{
  flex-grow: 1;
}