.player{
  background-color: black;
  max-width: 800px;
  height: 600px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.5);
  font-size: large;
  display: flex;
  flex-direction: column;
}
.video-container{
  flex-grow: 1;
}
.player-control-panel{
    padding: 9px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 0px;
}
.player-button{
    color: white;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    font-size: 20px;
    width: 36px;
    margin-right: 1px;
}
.player-progress-panel {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 16px;
}

.player-progress{
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin: 0px 10px;
}
.player-progress-slider{
    background-color: red;
    height: 5px;
}
.player-progress-dot{
  height: 8px;
  width: 8px;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0px 0px 5px white;
  border: solid;
  border-width: 3px;
  margin-left: -8px;
}